<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CollegeRegisteration</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>Registerstudent.html</welcome-file>
    <welcome-file>studentlogin.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>student-job.html</welcome-file>
    <welcome-file>company-profile.html</welcome-file>
    <welcome-file>header.html</welcome-file>
  </welcome-file-list>
  
  
  
<servlet>
  <display-name>company-profile</display-name>
<servlet-name>company-profile</servlet-name>
<servlet-class>com.collegeregistration.student.company-profile</servlet-class> 
</servlet>
<servlet-mapping>
<servlet-name>company-profile</servlet-name>
<url-pattern>/company-profile</url-pattern>
</servlet-mapping>


<servlet>
  <display-name>student-job</display-name>
<servlet-name>/student-job</servlet-name>
<servlet-class>com.collegeregistration.student.student-job</servlet-class> 
</servlet>
<servlet-mapping>
<servlet-name>student-job</servlet-name>
<url-pattern>/student-job</url-pattern>
</servlet-mapping>

  <servlet>
  <display-name>Registerstudent</display-name>
<servlet-name>Registerstudent</servlet-name>
<servlet-class>com.collegeregistration.student.Registerstudent</servlet-class> 
</servlet>
<servlet-mapping>
<servlet-name>Registerstudent</servlet-name>
<url-pattern>/Registerstudent</url-pattern>
</servlet-mapping>
  
  
</web-app>
</element>