@CHARSET "ISO-8859-1";

#fullbody{
        height: 720px;
        width: 1500px;
        background: #dddddd;
    }
    #header {
        width: 250px;
        height: 150px;
        background: white;
        float: left;
    }
    #hd {
        margin-left: 250px;
        width: 1200px;
        height: 100px;
        padding: 25px;
        background: #B090B3;
        
    }
    
    #hd h2 {
        float: left;
        margin-left:35%;
        color: #FAA3AB;
        font-style: italic;
    }
    #header img {
        
        width: 250px;
        height: 150px;
    }
    
    nav{
        width: 1500px;
        height: 50px;
        background-color: azure;
    }
    
    nav ul{
    list-style: none;
    }
   nav ul li{
         
        float: left;
         
         width: 100px;
         color: black;
         padding: 10px;
         font-family:serif;
         font-size: 20px;
         text-align: center;
         
         
    }
    
    nav ul li:hover{
        background-color: cadetblue;
         font-size: 18px;
         
    }
    nav ul li a{
    text-decoration: none;
    display:block;
    }
    
    #loginbox{
        float: left;
        width:250px;
        height: 500px;
        background-color: aliceblue;
        
    }
    
    #loginbox ul {
     float:left;
    list-style: none;
    }
    
    #loginbox ul li {
    float:left;
    background-color: red;
    
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    
    position: relative;
    border-radius:8px;
   
    }
    #loginbox ul li a {text-decoration: none;
    display: block;
    color:white;
  
    }
    
    #loginbox ul li a:hover{
   
    background-color:cadetblue;
    border-radius:8px;
    font-size: 18px;
    }
    #loginbox ul ul{
    position: absolute;
    display:none;
    
    
    }
    
    
    
    #loginbox ul li:hover > ul {
   display: block;
    }
     
    
    #universityimage{
        float: left;
        
    }
    #universityimage img{
        width: 1250px;
        height: 500px;
    }
    footer{
        padding-top: 15px;
        width: 1500px;
        height: 80px;
        background: #dddddd;
    }
    
    #regform{
    float:left;
    width: 30%;
    height 50%;
    
   margin-left:40%;
   background-color: #c0c0c0;
   
    }
 
  #regform form{
  				margin-left:100px;
  				padding: 3%; 
  }
  
  #regform h2{
  margin-left: 120px;
  }
  
  #loginforstudent {
  					float:left;
  					width:1250px;
  					Height:500px;
  					
  					background-color: #ffffff;
  					  }
 
 #loginforstudent form {
 						
 						margin-left: 500px;
 						margin-top:150px;
 						padding: 10px;
 						
 }
 #loginforstudent form input[type=email]{
 		width: 30%;
    padding: 10px 12px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
 
 }
 #loginforstudent form input[type=password]{
 		width: 30%;
    padding: 10px 12px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
 
 }
 #loginforstudent form input[type=submit]{
 		width: 12%;
    padding: 5px;
    margin: 4px 0;
  
    border: 1px solid #555;
    outline: none;
 
 }
 
 input[type=text]{
 		width: 70%;
    padding: 10px 12px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
 
 }
 
 input[type=email]{
 		width: 70%;
    padding: 10px 12px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
 
 }
 input[type=password]{
 		width: 70%;
    padding: 10px 12px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
 
 }
 input[type=date]{
 		width: 70%;
    padding: 10px 12px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
 
 }
 select{
 		width: 70%;
    padding: 10px 12px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
 
 }
 
 input[type=submit]{
 		width: 30%;
    padding: 5px;
    margin: 4px 0;
  
    border: 1px solid #555;
    outline: none;
 
 }
 
 
 
 
  
   
    